.gameCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1rem;
  border-spacing: 0;
  border: 2px solid #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 2px #000;
  padding: 1rem;
  width: 95%;
  max-width: 940px;
}

.boxArt {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.boxArtWrapper {
  display: flex;
  border: 2px solid #fff;
  border-radius: 8px;

  overflow: hidden; 
  margin-bottom: 0.5rem;
}

.hidden {
  display: none;
}

.gameInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 2px solid #fff;
  background-color: #000;
  padding: 0.5rem;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px; 
}

.hintRow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.4rem;
  justify-content: space-between;
}

@keyframes blink {
 0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(3px, 0, 0);
  }
}

.gameCard.flash {
  animation: flash 0.5s linear, shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97);
}

.scanContainer {
  position: relative;
  overflow: hidden;
  height: 100%; 
  width: 100%; 
}

.scanEffect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8) 8px, transparent);
  animation: scanAnimation 2s forwards;
  pointer-events: none;
}

@keyframes scanAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.revealAllButton {
  display: block;
}

@media screen and (max-width: 767px) {
  .gameCard {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .gameInfo {
    width: 100%;
  }

  .hintRow {
    display: block;
    margin-bottom: 0;
  }

  .hintButton {
    width: 100%;
  }

  .revealAllButton {
    display: block;
    margin-top: 1rem; 
  }
}
