@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Press Start 2P';
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/pressstart2p/v15/e3t4euO8T....woff2') format('woff2');
}

@font-face {
  font-family: 'Poppins';
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/poppins/v15/e3t4euO8T....woff2') format('woff2');
}

:root {
  --font-family: 'Press Start 2p', cursive;
  --font-family-main: "Courier New", Courier, monospace;

  --color-bg: #202225;
  --color-game : #212529;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-bg);
}

h1, h2, h3, h4, p {
  font-family: var(--font-family);
  color: #fff;
}

.hintButton {
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
  border: 2px solid #2c2c2c;
  color: #2c2c2c;
  font-family: var(--font-family);
  font-size: 12px;
  text-shadow: 1px 1px 0 #808080;
  box-shadow: inset -2px -2px 0 #808080;
  padding: 8px 1px;
  transition: all 0.1s ease-out;
  cursor: pointer;
  outline: none;
}

.hintButton.revealAll {
  width:auto;
  font-size: 8px;
}

.hintButton:hover {
  background-color: #c7c5c5;
  box-shadow: inset 0 0 0 #919191;
  transform: translate(1px, 1px);
}

.hintButton:disabled {
  background-color: #808080;
  border-color: #404040;
  text-shadow: 1px 1px 0 #404040;
  box-shadow: 2px 2px 0 #404040, 3px 3px 0 #404040, 4px 4px 0 #404040;
  cursor: not-allowed;
}

@media (hover: none) {
  .hintButton:hover {
    background-color: #eeeeee;
    box-shadow: inset -2px -2px 0 #808080;
    transform: none;
  }
}
