.hint {
  display: flex;
  gap: 0.5rem;
  margin: 16px 8px;
  color: #fff;
  font-family: var(--font-family-main);
}

.hintKey {
  text-transform: uppercase;
  font-weight: 700;
  white-space: nowrap;
}

.hintValue {
  word-break: break-word;
}

.hintMeta {
  border-radius: 0;
}

.hintMetaScore {
  padding: 0.35rem;
  font-size: 1.25rem;
  font-weight: 700;
}

.hintButton {
  flex: 1;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .hint {
    display: flex;
    gap: 0.5rem;
    margin: 16px 8px;
  }

  .hintKey {
    flex: 0 0 35%;
  }

  .hintKeyPlot {
    flex: 0 0 15%;
  }

  .hintValue, .hintButton, .hintMeta  {
    flex: 1;
  }
}
