.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.8rem;
    gap: 1.4rem;
  }
  
  .title {
    font-size: 1.5rem;
  }
  
  .iconBtn {
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }
  
  .iconBtn:focus {
    outline: none;
  }
  
  .icon {
    font-size: 1.5rem;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .navbar {
      gap: 0.8rem
    }

    .title {
      text-align: center;
    }
  
    .icon {
      font-size: 1.2rem;
    }
  }