.releaseDateWrapper {
  margin: 2rem 0.5rem;
  display: inline-block;
  padding: 1rem;
  background: #000;
    border: 1px solid #333;
    box-shadow: -2px 0 0 #00f2fe, 2px 0 0 #ff0050;
}

.releaseDate {
  margin: 0;
  font-family: var(--font-family-main);
}

.releaseDateArchived {
  margin: 0;
  margin-top: 0.5rem;
  font-size: 1rem;
  display: block;
  text-align: center;
  font-style: italic;
  font-family: var(--font-family-main);
}


@media screen and (max-width: 767px) {
  .releaseDateWrapper {
    margin: 1.5rem 0.5rem;
  }

  .releaseDate {
    font-size: 1.4rem;
  }

  .releaseDateArchived {
    font-size: 0.7rem;
  }
}
