.releaseDate {
  margin: 2rem 0.5rem;
  display: inline-block;
  font-family: var(--font-family);
}

@media screen and (max-width: 768px) {
  .releaseDate {
    margin: 1.5rem 0.5rem;
    font-size: 0.8rem;
  }
}