.searchContainer {
  display: flex;
  align-items: center;
  width: 95%;
  max-width: 940px;
  font-family: var(--font-family-main);
}

.inputWrapper {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.searchInput {
  width: 100%;
  font-size: 14px;
  margin: 0.5rem;
  border: none;
  outline: none;
}

.select__control {
  border: none;
  box-shadow: none;
  border-radius: 0;
  outline: none;
}

.select__menu {
  z-index: 9999;
  border-radius: 0;
  border: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.select__option {
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
}

.select__option--is-focused {
  background-color: #f0f0f0;
}

.loader {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  z-index: 10;
}

.submitButton {
  height: 34px;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 0;
  color: #fff;
  font-family: var(--font-family);
  font-size: 12px;
  padding: 0 12px 0 16px;
  transition: all 0.2s;
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
}

.submitButton::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
  background: #00f2fe;
  transition: all 0.2s;
  opacity: 0.8;
}

.submitButton:hover {
  background: rgba(0, 242, 254, 0.15);
  border-color: #00f2fe;
  transform: translate(2px, -2px);
  box-shadow: -2px 2px 0 #ff0050;
}

.submitButton:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}
